# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
*.egg-info/
dist/
build/
.ruff_cache/
.ipynb_checkpoints/
_version.py

# Python envs
.env
.venv
venv/
ENV/

# Jupyter
.ipynb_checkpoints/
.jupyter_cache/
book/_build/

# OS/files
.DS_Store
Thumbs.db

# Logs
*.log

# Editors
.vscode/
.idea/
