# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
*.egg-info/
dist/
build/
.ruff_cache/
.ipynb_checkpoints/
_version.py

# Python envs
.env
.venv
venv/
ENV/

# Jupyter
.ipynb_checkpoints/
.jupyter_cache/
book/_build/
*.slides.html

# OS/files
.DS_Store
Thumbs.db
__MACOSX/

# Logs
*.log

# Editors
.vscode/
.idea/

# old material
old_material/

# generated media
output/
*.mp4
*.gif
*.avi
*.png
*.svg

# data
data/